.env
test.ipynb
data
output_images
__pycache__
output.jpg
output.png
golden_retriever.png
.grok
test_grok.py
requirement2.txt
requirement4.txt
multi-modal/
to_show.txt
figures/
figures
10-Multi_modal_RAG-GPT-4o.ipynb
toshow.txt
디지털 정부혁신 추진계획.hwp
디지털_정부혁신_추진계획.txt
재미있는_일본어_단어암기.txt
재미있는_일본어_단어암기.hwp
\354\236\254\353\257\270\354\236\210\353\212\224 \354\235\274\353\263\270\354\226\264 \353\213\250\354\226\264\354\225\224\352\270\260.hwp
재미있는 일본어 단어암기.hwp
