.env
test.ipynb
data
output_images
__pycache__
output.jpg
output.png
golden_retriever.png
.grok
test_grok.py
requirement2.txt
requirement4.txt
multi-modal/
to_show.txt
figures/
figures
10-Multi_modal_RAG-GPT-4o.ipynb
toshow.txt
